body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: cursive;
}

.testimonial-container {
  margin: auto;
  width: 80%;
  max-width: 500px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: slateblue;
  position: relative;
}

img {
  display: block;
  margin: 0 auto;
  left: 50%;
  top: -50px;
  position: absolute;
  transform: translateX(-50%); /* Centers the image horizontally */
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

p {
  padding: 0 10px;
  color: #fff;
  padding: 10px;
  font-size: 1rem;
  text-align: justify;
  margin: 60px auto 0;
}

h4 {
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 680px) {
  p {
    font-size: 0.9rem;
    padding: 0 5px;
    text-align: justify;
  }

  .testimonial-container {
    width: 90%;
    padding: 10px;
  }
}
